<div class="container" style="margin-top: 2rem" *ngIf="post">
  <div class="card">
    <div class="card-body text-center">
      <h4 class="card-title">{{ post.title }}</h4>
      <p class="card-text">
        {{ post.body }}
      </p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Comment</h4>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
