<div class="container" style="margin-top: 1rem">
  <div class="card" *ngIf="post">
    <div class="card-body text-center">
      <h3 class="card-title">{{ post.title }}</h3>
      <p class="card-text">
        {{ post.body }}
      </p>
    </div>
    <div class="container mt-2">
      <h4>Comments</h4>
      <div class="card mb-2" *ngFor="let comment of comments">
        <div class="card-body">
          <h5 class="card-title">
            {{ comment.name }}
          </h5>
          <p class="fw-lighter fs-6">from: {{ comment.email }}</p>
          <p class="card-text">
            {{ comment.body }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
