<div class="container">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">User List</h2>
      <table class="table table-hover">
        <thead>
          <tr class="table-secondary">
            <th>No</th>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody *ngFor="let user of users; let i = index">
          <tr>
            <td>{{ i + 1 }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>
              <button type="button" class="btn btn-outline-secondary">
                Detail
              </button>
              <button
                type="button"
                class="btn btn-outline-primary ms-2"
                (click)="getUserPosts(user.id)"
              >
                Posts
              </button>
              <button
                type="button"
                class="btn btn-outline-success ms-2"
                (click)="getUserAlbums(user.id)"
              >
                Albums
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
